Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -2
PointerAlignment: Left
ColumnLimit: 120

# Constructor initializer list
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never

# Switch statements
AllowShortCaseLabelsOnASingleLine: true

BraceWrapping:
  BeforeLambdaBody: true